@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Movimientos Cuenta";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="w-50">
        <h1>Movimientos @ViewBag.Cuenta</h1>
        <partial name="_ReporteTransaccionesDetalladas" model="Model" />
    </div>
</div>